body {
  width: 940px;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  margin: 0 auto;
  font-family: 'Righteous', cursive;
  font-size: 50%;
  background: linear-gradient(to right, grey, white,rgba(187, 238, 230, 0.678),rgb(58, 92, 124));   
}

/*------encabezado-----------------*/
header{
  padding: 1em;
}

header h1{
  font-weight: bold;
  text-align: center;
  font-size: 6em;
  color: #0A3871;
}

header #logo{
  position: relative;
  width: 15%;
  height: 15%;
  vertical-align: middle;
}

/*------------------------------------*/
main{  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mensaje, .resultado{
  width:50em;
  height: 52em;
  margin: 2em 2em 0 2em; 
}

form{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
 
}

label{
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;
  color:#0A3871;
}

label img{
  vertical-align: middle;
}

textarea{
  background-color: rgba(214, 213, 219, 0.952);
  border: none;
  color:#580a0a;
  width: 20em;
  resize: none;
  height: 15em;
  font-size: 3em;
}

.resultado textarea{
  background-image: url('../img/Monigote.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.boton{ 
  position: relative;
  width: auto;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.boton button{
  margin-left: 2em;
  margin-right: 2em;
  width: 10em;
  height: 3em;
  border-radius: 50px;
  font-weight: bold;
  font-size: 2em;
  border-color: goldenrod;
  color: #0A3871;
}

.boton button:hover{
  border-color: #0A3871;
  background:#0A3871;
  color: goldenrod;
  cursor: pointer;
}


/*------------------------------------*/
footer {
  display:flex;
  margin-top:2em;
  align-content: center;
  align-items: center;
  justify-content: center;
}

footer h3{
  font-size: 2em;
  color: #0A3871;
}

#miLogo{
  width:30px;
  border-radius: 5em;
  vertical-align: middle;
}

#insignia{
  width:50px;
  border-radius: 5em;
  vertical-align: middle;
}

@media screen and (max-width:480px){
  body{
    margin: 0 auto;
    justify-content: center;
    align-items: center;  
    align-content: center;
    height: 100vh; 
   }

  header{
    width: 400px;
    margin:0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
    align-content: center;
  }
  
  header h1{
    font-size: 2em;
  }

  header #logo{
    width: 4em;
    height: 2em;
  }

  main {
    display: block;
  }


  .mensaje label{
    font-size: 2em;
  }

  footer{
    width: 399px;
    display:flex;
    margin: 0;
    margin-top:5em;
    text-align: center;
    justify-content: center;
    align-items: center;  
    align-content: center;
  }
}  
